<footer>
    <div class='footer-text'>
                    <div class='edition'>
                        <p>Designed by Ushy@div</p>
                    </div>
             </div>
            <!-- <ul>
            <li><i class='fa fa-twitter 'style=' font-size:26px'></i></li>
            <li><i class='fa fa-facebook 'style=' font-size:26px'></i><li></li>
                <li><i class='fa fa-dribbble 'style=' font-size:26px'></i></li>
                <li><i class='fa fa-linkedin 'style=' font-size:26px'></i></li>
                <li><i class='fa fa-pinterest 'style=' font-size:26px'></i></li>
                <li><i class='fa fa-instagram 'style=' font-size:26px'></i></li>
                <li><i class='fa fa-google-plus 'style=' font-size:26px'></i></li>
                <li><i class='fa fa-flicke 'style=' font-size:26px'></i></li>
                <li><i class='fa fa-behance 'style=' font-size:26px'></i></li>
            </ul> -->

</footer>
<script src='../homepage.js'></script>
