<footer>
    <div class='footer-text'>
                    <div class='edition'>
                        <p>Designed by Ushy@div</p>
                    </div>
             </div>

<script src='../homepage.js'></script>



</footer>