<nav class="nav-bar">
    <div class="logo">
        <h1>Ushy Recipe</h1>
        <!-- <i class="far fa-hat-chef"></i> -->
    </div>
     
    

    
    <div class="ul-container">
        <ul>
            <li><a href="/">HOME</a></li>
            <li><a href="/fetch-chef">CHEFS</a></li>
            <li><a href="/sign-in">SIGN IN</a></li>
            <li><a href="/sign-up">SIGN UP</a></li>
        </ul>
    </div>
    

    <div class="search active">
        <input type="text" placeholder="search a recipe">
        <button><i class="fa fa-search"></i></button>
    </div>
</nav>