<html lang="en">
    <!-- head here -->
    <%- include('./partials/head') %>
<body>
    <!-- nav here -->
  <%- include('./partials/nav') %>

  <div class="success">
    <div class="success-message">
      <h2>Not found!!!</h2>
    </div>
       

  </div> 
  

  <!-- footer here -->
  <%- include('./partials/footer') %>