.category{
    background-image: linear-gradient rgba(0,0,0,0,0.5);
    background-image: url(./images/ronise-daluz-LgTyii0GDKQ-unsplash.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    min-height: 100vh;
    border-radius: 10px;
}


.category-cards{
    display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(3, 1fr);
        grid-column-gap: 10px;
        grid-row-gap: 10px;
        justify-content: center;
        padding-top: 20px;
        width: 80%;
        margin: 2em auto;
        background-color: rgba(25, 234, 241, 0.726);
        
}
