

header {
    
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/doughnuts.jfif);
   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0.7em auto;
    width: 100%;
    min-height: 180vh;
}

body {
	font-family: 'open Sans', sans-serif;
}
.homepage h1, p{
	font-family: 'Roboto Mono', monospace;
}

/* welcome */
.welcome-text{
    color: white;
    margin-left: 2em auto;
    padding: 8em;
    font-style: italic;
    text-align: center;
}

.welcome-text h1 {
    font-size: 70px;
}

.welcome-text h2{
    font-family: 'Beyond';
    font-size: 55px;
    text-align: center;
}

/* .top{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(./images/doughnuts.jfif);
   
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    margin: 0.7em auto;
    width: 90%;
    min-height: 100vh;
} */

.card {
    width: 90%;
    border: 0.5px solid rgba(0, 0, 0, 0.1);
    margin: 2em;
    border-radius: 10px;
    text-align: center;
    transition: 1s transform;
    overflow-y: hidden;
   
        
}

.card:hover{
    transform: scale(0.9);
    border-radius: 10px;
}
.card-img{
    width:100%;
    height : 40vh;
	border-radius: 5px;
	box-shadow: 0 4px 6px 0 rgba(34, 60, 80, .16);
	transition: all ease-in-out .2s;
    /* overflow-x: hidden; */
}

.card a{
    text-decoration: none;
    color: white;
    padding: 5px;
    text-align: center;
}

.textss h2{
    color: black;
}


.card:hover > h2 {
	visibility: visible;
}

.card> h2 {
	/* position: absolute;
	top: 50%;
	left: 50%; */
    padding: 1em;
	transform: translate(-50%, -50%);
	color: black;
	visibility: hidden;
	z-index: 2;
	transition: all ease-in-out .2s;
}

.card p{
    color: black;
}



.cards{
    background-color: white;
   filter: 10%;
   background-size: cover;
   background-position: center;
   background-repeat: no-repeat;
   display: grid;
        grid-template-columns: repeat(4, 1fr);
        /* grid-template-rows: repeat(4, 1fr); */
        /* grid-column-gap: 10px; */
        grid-row-gap: 5px; 
        
   /* width: 100%; */
   margin: 4em auto;
   width: 90%;
   padding: 1em;

}

.cards .card img{ 
     width: 100%;
    text-align: center; 
}

.add button{
    border-radius: 30%;
	box-shadow: 0 8px 12px 0 rgba(34, 60, 80, .16);
    padding: 10px;
    text-align: center;
    margin: 3rem;
    color: white;


}



.top h3{
    border-radius: 40%;
	box-shadow: 0 8px 12px 0 rgba(34, 60, 80, .16);
    
    padding: 10px;
    text-align: center;
    margin: 10px;
    color: white;
}
    




